[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=bookmarkpp
X-KDE-PluginInfo-Author=MAN
X-KDE-PluginInfo-Email=konqui@kde.org
X-KDE-PluginInfo-Name=bookmarkpp
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-Version=4.0
ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=korganizer
Name=Bookmark++
Comment=Named bookmarks